@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');
/* colores del background:
  rgb(25,25,49)
  footer y botones: rgb(1,213,213)
  cards: rgb(37,35,73)
  about: desde rgb(254,254,253) hasta rgb(189,189,189)*/

:root{
  --color-button:rgb(1, 213, 213);
  --color-background: rgb(25,25,49);
  --color-letter: #fff;
  --color-button-hover: rgb(255, 255, 0);
  --color-grandient: linear-gradient(rgb(253,253,253), rgb(189,189,189));
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-letter);
}
body {
  font-family: 'Montserrat', sans-serif;
  overflow-x:  hidden;
  max-width: 1200px;
  background-color: var(--color-background);
}
.sparkly{
  background-color: var(--color-button);
}
.icon{
  font-size: 25px;
  text-transform: uppercase;
  line-height: 55px;
}
.icon--c{
  color: var(--color-button);
}
.nav-bar__nav{
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  z-index: 50;
  background-color: var(--color-background);
  width: 100%;
  padding: 0 30px;
}
.nav__container--items{
  text-transform: capitalize;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 8%;
}
.nav__list__item{
  text-decoration: none;
  font-weight: bolder;
  margin-left: 60px;
  height: 100%;
  padding: 0 15px;
  line-height: 60px;
}
.nav__list__item:hover{
  background-color: var(--color-button);
  color: var(--color-background);
}
.switch{
  background-color: var(--color-button);
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  border-radius: 1000px;
  position: relative;
  margin-left: 60px;
}
.switch::after{
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: var(--color-letter);
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: .3s ease all;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}
.active{
  background-color: var(--color-button-hover);
}
.active::after{
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: var(--color-letter);
  top: 0;
  left: unset;
  right:0;
  border-radius: 100px;
  transition: .3s ease all;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}
button .fas{
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background-color: none;
  color: var(--color-letter);
  text-align: center;
}
.button{
  text-decoration: none;
  background-color: var(--color-button);
  color: var(--color-letter);
  font-weight: bolder;
  font-size: 15px;
  padding: 20px;
  width: 150px;
  border-radius: 50px;
  text-align: center;
}
.button:hover{
  background-color: var(--color-button-hover);
  font-weight: bolder;
  color: #000;
}
.button--sparkly{
  text-decoration: none;
  background-color: var(--color-background);
  color: var(--color-letter);
  font-weight: bolder;
  font-size: 15px;
  padding: 20px;
  width: 150px;
  border-radius: 50px;
  text-align: center;
}
.main__section{
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 120px 0;
  min-width: 1200px;
  object-fit: contain;
}
.title{
  font-size: 45px;
}
.title__bar{
  text-decoration: underline var(--color-button);
}
.title--sparkly{
  text-decoration: underline var(--color-background);
}
.footer .title__bar{
  text-decoration: underline var(--color-background);
}
.footer .title--sparkly{
  text-decoration: underline var(--color-button);
}
.home__img{
  border: 10px solid var(--color-button);
}
.container--text{
  height: 600px;
  width: 35%;
  position: relative;
  top: 80px;  
  border-radius: 20px;
}
.home__title{
  margin-bottom: 20px;
}
.home__p{
  font-size: 15px;
  margin-bottom: 45px;
  padding-right: 40px;
}
.sparkly--img{
  border: 10px solid var(--color-background);;
}
.about{
  background: var(--color-grandient);
  width: 100vw;
}
.about--text{
  display: flex;
  flex-direction: column;
  padding: 40px;
  justify-content: center;
  align-items: center;
}
.about__title, .about__p{
  color: var(--color-background);
  font-weight: bold;
  margin-bottom: 40px;
}
.about__img{
  height: 50%;
}
.about__p{
  font-size: 15px;
}
.projects{
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: -80px;
}
.projects__title{
  margin: auto;
}
.container--card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.projects__card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 520px;
  border: 1px solid #000;
  border-radius: 20px;
  margin: 50px;
  object-fit: cover;
  overflow: hidden;
}
.projects__card img{
  width: 100%;
  margin-bottom: 20px;
}
.projects__card__subtitle{
  text-align: center;
  margin-bottom: 20px;
}
.card__p{
  text-align: justify;
  padding: 20px;
  font-size: 15px;
}
.container__iconos{
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.container__iconos i{
  font-size: 25px;
  margin: 0 45px;
}
.card--button{
  margin-top: -15px;
  width: 50%;
}

.contact{
  flex-direction: column;
}
.contact__title{
  margin: auto;
  margin-bottom: 40px;
}
.contact__subtitle{
  margin-bottom: 20px;
}
.contact--container{
  display: flex;
  flex-direction: row;
}
.contact--container img{
  margin: auto;
}
.contact__container--form{
  display: flex;
  flex-direction: column;
  margin:auto;
}
.contact__item, .contact__message{
  margin-bottom: 20px;
  width: 400px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 5px solid var(--color-button);
  padding: 8px;
}
.contact__message{
  height: 400px;
  resize: none;
}
.contact__form__button{
  width: 300px;
  margin: 20px 15%;
}
.sparkly--input{
  border: none;
  outline: none;
  border-bottom: 5px solid var(--color-background);
  padding: 8px;
}
.footer{
  background-color: var(--color-button);
  width: 100vw;
  height: 120px;
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer__subtitle{
  font-size: 25px;
  font-weight: normal;
}
.footer__icons__item{
  font-size: 35px;
  margin-right: 45px;
}
.footer--sparkly{
  background-color: var(--color-background);
}
@media screen and (max-width: 1350px) {
  .about{
    width: 1350px;
  }
  .footer{
    width: 1350px;
  }
}
@media screen and (max-width: 800px){
  .main__section{
    flex-direction: column;
  }
  .home{
    flex-direction: column-reverse;
  }
  .home__p{
    padding: 0;
  }
  .home__img, .container--text{
    margin: auto;
    margin-bottom: 0;
  }
  .about__img{
    margin-top: 20px
  }
  .title{
    font-size: 65px;
  }
  .about__p, .home__p{
    font-size: 25px;
  }
  .container--card{
    flex-direction: column;
  }
  .projects__card{
    width: 50%;
    height: 850px;
  }
  .card__p{
    font-size: 25px;
    margin: 15px;
  }
}
@media screen and (max-width: 500px){
  .contact--container{
    flex-direction: column;
  }
  .contact--container img{
    margin-bottom: 150px;
  }
}