@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');
/* colores del background:
  rgb(25,25,49)
  footer y botones: rgb(1,213,213)
  cards: rgb(37,35,73)
  about: desde rgb(254,254,253) hasta rgb(189,189,189)*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
body {
  font-family: 'Montserrat', sans-serif;
  overflow-x:  hidden;
  background-color: rgb(25,25,49);
  max-width: 1200px;
}
.icon{
  font-size: 25px;
  text-transform: uppercase;
  line-height: 55px;
}
.icon--c{
  color: rgb(1,213,213);
}
.nav-bar{
  max-width: 1200px;
}
.nav-bar__nav{
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  z-index: 50;
  background-color: rgb(25,25,49);
  width: 100%;
  padding: 0 30px;
}
.nav__container--items{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 200px;
}
.nav__list__item{
  text-decoration: none;
  font-weight: bolder;
  margin-left: 60px;
  height: 100%;
  padding: 0 15px;
  line-height: 60px;
}
.nav__list__item:hover{
  background-color: rgb(1,213,213);
  color: rgb(25,25,49);
}
.main{
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1,1fr;
  grid-template-rows: repeat (4,1fr);
  gap: 200px;
}
.home{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 60px;
  justify-content: space-between;
  flex-wrap: wrap;

}
.home__img{
  position: relative;
  right: 200px;
  border: 10px solid rgb(1,213,213);
}
.container--text{
  height: 600px;
  width: 600px;
  position: relative;
  top: 80px;
  left: 120px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: space-evenly;
  justify-content: center;  
}
.home__title{
  font-size: 45px;
}
.home__p{
  font-size: 15px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.home__button{
  text-decoration: none;
  border-radius: 50px;
  padding: 20px;
  background-color: rgb(1,213,213);
  width: 200px;
  text-align: center;
}
.about{
  background: linear-gradient(rgb(253,253,253), rgb(189,189,189));
  display: flex;
  width: 1950px;
  height: 900px;
  flex-direction: row;
}
.about--text{
  display: flex;
  flex-direction: column;
  padding: 40px;
  justify-content: center;
  align-items: center;
}
.about__title, .about__p{
  color: rgb(25,25,49);
  font-weight: bold;
  margin-bottom: 40px;
}

.about__title{
  font-size: 45px;
}
.about__p{
  font-size: 20px;
}
.about__button{
  text-decoration: none;
  font-weight: italic;
  font-size: 25px;
  background-color: rgb(1,213,213);
  border-radius: 50px;
  padding: 5px 40px;
  color: #fff;
}